@model IEnumerable<Asu19.Areas.Account.Models.UserRequestInfo>
@{
	ViewData["Title"] = "Создать заявку";
}

<section class="login-page">
	<div class="container">
		<div class="align-content-center">
			<section class="pb-4">
				<div class="row d-flex justify-content-center mt-4">
					<div class="col-12 col-md-8 col-lg-6 col-xl-6">
						<div class="card bg-dark text-white border-custom">
							<div class="card-body p-5 text-center">
								<div class="mb-md-5 mt-md-4 pb-5">
									<h2 class="fw-bold mb-2 text-uppercase">Ваши заявки</h2>
									<ul class="list-group request-list mt-1">
										@foreach (var item in Model)
										{
											<li class="list-group-item">@item.Car @item.Service</li>
										}
									</ul>
									<form method="post" asp-area="Account" asp-controller="Home" asp-action="AddRequest">
										<div class="form-outline form-white mb-4">
											<h3 class="fw-bold mb-2 text-uppercase mt-3">Создать заявку</h3>
											<select name="car" class="form-select" aria-label="Default select example">
												@foreach (var item in ViewBag.Cars)
												{
													<option value="@($"{item.Brand}_{item.Model}")">@item.Brand @item.Model</option>
												}
											</select>
										</div>

										<div class="form-outline form-white mb-4">
											<select name="serviceId" class="form-select" aria-label="Default select example">
												@foreach (var item in ViewBag.Services)
												{
													<option value="@item.Id">@item.Name - @item.Price</option>
												}
											</select>
										</div>

										<button class="btn btn-outline-white btn-lg px-5 gradient-custom" type="submit">Создать</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>