@model IEnumerable<Asu19.Areas.Account.Models.UserCarInfo>
@{
    ViewData["Title"] = "Personal Page";
}

<div class="text-center">
    <h1>Здравствуйте, @User.Claims.ElementAt(1).Value</h1>
    <h2>Список ваших авто</h2>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li id="@($"{item.Brand}_{item.Model}")" class="list-group-item w-25">@item.Brand @item.Model<button onclick="remove('@item.Brand', '@item.Model')" type="button" class="btn btn-danger">Delete</button></li>
        }
        <li class="list-group-item active" aria-current="true"><a href="/addcar">Добавить авто</a></li>
    </ul>
    <br />
    <h2>Список ваших заявок</h2>
    <ul class="list-group">
        @foreach (var item in ViewBag.Requests)
        {
            <li class="list-group-item w-25">@item.Status @item.StartTime</li>
        }
        @if(Model.FirstOrDefault() != null)
        {
            <li class="list-group-item active" aria-current="true"><a href="/addrequest">Создать заявку</a></li>
        }
        else
        {
            <li class="list-group-item alert-danger" aria-current="true">У вас нет авто</li>
        }
    </ul>
</div>

<script>
    async function remove(brand, model) {
        const response = await fetch("/delcar", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                Brand : brand,
                Model : model
            })
        });
        if (response.ok)
            document.getElementById(brand + "_" + model).style.display = "none";
    }
</script>